{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetGuard</title>
    <link rel="stylesheet" href="{% static 'petguard/styles.css' %}">
    <link rel="stylesheet" href="{% static 'petguard/index.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-nome">
                <img src="whitepaws.png" class="logo" id="logo">
                <h1>PetGuard</h1>
            </div>
                <div class="profile-container">
            <img src="iconepng.png" alt="Perfil" class="profile-icon" id="profileIcon">

            <div class="profile-menu" id="profileMenu">
                <p class="profile-name">Olá, Pedro!</p>
                <a href="#">Meu Perfil</a>
                <a href="#">Cadastrar Usuário</a>
                <a href="#" id="logoutButton">Sair</a>
            </div>
        </div>
        </div>
    </header>

    <section>
        <form id="animalForm">
            <form class="barra-pesquisa" action="/sua_pagina_de_busca" method="GET">
                <input type="text" placeholder="Pesquisar..." name="q" class="campo-pesquisa">
                <button type="submit" class="botao-pesquisa">
                    Buscar
                </button>
                <button id="addBtn" onclick="openAddAnimal()">Adicionar Animal</button>
            </form>
        </form>
    </section>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Espécie</th>
                <th>Raça</th>
                <th>Idade</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="animalList"></tbody>
    </table>

    <button id="doacoesBtn" onclick="openDoacoesPage()">Doações</button>

    <script>
        const profileIcon = document.getElementById('profileIcon');
        const profileMenu = document.getElementById('profileMenu');

        profileIcon.addEventListener('click', () => {
            profileMenu.classList.toggle('show');
        });

        document.addEventListener('click', (event) => {
            if (!profileIcon.contains(event.target) && !profileMenu.contains(event.target)) {
                profileMenu.classList.remove('show');
            }
        });

        document.getElementById('logoutButton').addEventListener('click', () => {
            alert("Você saiu da conta!");
        });
    </script>
</body>
</html>
